@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hero-bg-color-primary: #03a6a1;
  --hero-bg-color-secondary: #78b9b5;
  --hero-font-color: #f5f1dc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-monoton: var(--font-monoton);
  --font-sans-code: var(--font-sans-code);
  --color-hero-primary: var(--hero-bg-color-primary);
  --color-hero-secondary: var(--hero-bg-color-secondary);
  --color-hero-font: var(--hero-font-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-gradient-primary {
  @apply bg-gradient-to-b from-hero-primary to-blue-900;
}

.btn-anim {
  @apply relative before:content-[''] before:absolute before:inset-0 active:before:bg-black/30;
}

.header-nav > * {
  @apply p-2;
}
